@using Delivery.Domain.User
@model Usuario
@*PENDIENTE*@
@{
    var listaGeneros = Enum.GetValues(typeof(Sexo)).Cast<Sexo>().ToList();
    int i = -1;
    ViewBag.selectValido = -1;
}
<div class="container mt-4">
    <h1 style="font-family: Arial Rounded MT;">Configuración de cuenta</h1>
    <p>Configure su cuenta y contraseña</p>
    <hr>
        
    <div class="accordion accordion-flush" id="accordionExample">
            
        @*Datos personales*@
        <form id="formulario" asp-action="EditarDatos">
            <input type="hidden" asp-for="Id"/>
            <div asp-validation-summary="ModelOnly" class="invalid-tooltip"></div>
            <div class="input-group mb-3">
                <span class="input-group-text"> <i class="fa-regular fa-envelope"></i> </span>
                <div class="form-floating">
                    <input  value="@Model.Email" type="email" class="form-control" placeholder="example@email.com" style="width:800px" disabled>
                    <label>Correo electrónico</label>
                </div>
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text"> <i class="fa-solid fa-id-card-clip"></i> </span>
                <div class="form-floating">
                    <input asp-for="Surname" id="insurname" type="text" class="form-control" min="3" max="150" placeholder="name" style="width:400px" required>
                    <label>Apellidos</label>
                    <div class="invalid-tooltip">
                        <span asp-validation-for="Surname"></span>
                    </div>
                </div>
                <span class="input-group-text"> <i class="fa-solid fa-image-portrait"></i> </span>
                <div class="form-floating">
                    <input asp-for="Name" type="text" id="inname" class="form-control" min="3" max="150" placeholder="name" style="width:360px" required>
                    <label>Nombre</label>
                    <div class="invalid-tooltip">
                        <span asp-validation-for="Name"></span>
                    </div>
                </div>
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text"> <i class="fa-solid fa-phone"></i> </span>
                <div class="form-floating">
                    <input asp-for="Phone" type="tel" id="inphone" class="form-control" pattern="[0-9]{9}" placeholder="987654321" style="width:800px" min="9" maxlength="9" required>
                    <label>Telefono</label>
                    <div class="invalid-tooltip">
                        <span asp-validation-for="Phone"></span>
                    </div>
                </div>
            </div>

            <div class="input-group mb-3">

                <label class="input-group-text" for="inputGroupSelect01"> <i class="fa-solid fa-genderless"></i> </label>
                <select asp-for="Sexo" class="form-select form-control" id="selectGenero" style="max-width:404px">
                    <option selected disabled hidden value="">Indique su sexo</option>
                    @foreach (Sexo item in listaGeneros)
                    {
                        i++;
                        <option value="@i">@item</option>
                    }
                </select>
                <div class="invalid-tooltip">
                    <span id="validarSexo"></span>
                </div>

                <div class="form-floating">
                    <input asp-for="DateBirth" type="date" id="inDateBirth" class="form-control" placeholder="example@email.com" style="width:400px">
                    <label>Fecha de nacimiento</label>
                </div>
                <div class="invalid-tooltip">
                    <span id="validarFechaNacimiento"></span>
                </div>
            </div>

            <div class="input-group mb-3">


                <div id="al_psw" class="alert alert-danger" style="width:400px"></div>

                <div class="input-group mb-3 mt-3">
                    <span class="input-group-text"> <i class="fa-solid fa-asterisk"></i> </span>
                    <div class="form-floating">
                        <input asp-for="Password" type="password" class="form-control" id="in_password1" min="8" max="100" placeholder="****" style="min-width:800px">
                        <label for="floatingInputGroup1">Ingrese la nueva contraseña</label>
                    </div>
                </div>

                <div class="input-group mb-3">
                    <span class="input-group-text"> <i class="fa-solid fa-asterisk"></i> </span>
                    <div class="form-floating">
                        <input type="password" class="form-control" id="in_password2" min="8" max="100" placeholder="****" style="min-width:800px">
                        <label for="floatingInputGroup1">Confirma la contraseña ingresada</label>
                    </div>
                </div>
            </div>

            <button type="submit" class="btn btn-primary mb-3">Actualizar datos</button>
        </form>


    </div> <!--Accodion-->
</div> <!--Container-->
@section Scripts{
    <script>
        //Funciones genericas
        function validarCampos(condicional, elemento) {
            if ((condicional === "") || condicional == 'false') elemento.removeClass('is-invalid');
            else {
                elemento.addClass('is-invalid');
                setTimeout(function () {
                    elemento.removeClass('is-invalid');
                }, 4000);
            }
        }

        $('#al_psw').hide();

        function obtenerFechaMaximaFormateada() {
            const fechaActual = new Date();

            const fechaMaxima = new Date();
            fechaMaxima.setFullYear(fechaActual.getFullYear() - 18);

            const dia = ('0' + fechaMaxima.getDate()).slice(-2);
            const mes = ('0' + (fechaMaxima.getMonth() + 1)).slice(-2);
            const anio = fechaMaxima.getFullYear();

            return `${anio}-${mes}-${dia}`;
        }

        //Validar inputs
        $(document).ready(function () {

            $('#inDateBirth').attr('max', obtenerFechaMaximaFormateada());

            let condSurname = "@ViewBag.SurnameError".toLowerCase();
            let condName = "@ViewBag.NameError".toLowerCase();
            let condPhone = "@ViewBag.PhoneError".toLowerCase();

            validarCampos(condSurname, $('#insurname'))
            validarCampos(condName, $('#inname'))
            validarCampos(condPhone, $('#inphone'))
        });

        //Genero y fecha de nacimiento
        $('#formulario').on('submit', function (evt) {

            let fechaNacimiento = new Date($('#inDateBirth').val());
            let fechaActual = new Date();
            let edad = fechaActual.getFullYear() - fechaNacimiento.getFullYear();

            if (edad < 18 || isNaN(edad)) {
                $('#inDateBirth').addClass('is-invalid');
                setTimeout(function () {
                    $('#inDateBirth').removeClass('is-invalid');
                }, 3000);
                $('#validarFechaNacimiento').text('Necesita ser mayor a 18 años para poder registrarse');
                evt.preventDefault();
            }
            else {
                $('#validarFechaNacimiento').text('');
                $('#inDateBirth').removeClass('is-invalid');
            }
        
            ///////////////////////
            let psw1 = $('#in_password1').val();
            let psw2 = $('#in_password2').val();

            if ((psw1.length > 0 && psw1.length < 8)) {
                evt.preventDefault();
                setTimeout(function () {
                    $('#al_psw').hide();
                    $('#al_psw').text();
                }, 3000);
                $('#al_psw').show();
                $('#al_psw').text('La contraseña es demasiada corta');
            }
            else if(psw1 != psw2){
                evt.preventDefault();
                setTimeout(function () {
                    $('#al_psw').hide();
                    $('#al_psw').text();
                }, 3000);
                $('#al_psw').show();
                $('#al_psw').text('Las contraseñas no coinciden');
            }
            else{
                Swal.fire({
                    title: 'Cambio de datos',
                    text: 'Para poder aplicar los cambios, es necesario volver a logearse, ¿Está segur@@ de que desea seguir?',
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Sí, estoy seguro',
                    cancelButtonText: 'Cancelar',
                    allowOutsideClick: false,
                    allowEscapeKey: false,
                }).then((result) => {
                    if (result.isConfirmed) {
                        document.getElementById('formulario').submit();
                    }
                });
                evt.preventDefault();   
            }
        });

    </script>
}